/*
* @Author: Johnhong9527
* @Date:   2019-05-25 20:42:00
* @Last Modified by:   Johnhong9527
* @Last Modified time: 2019-05-25 21:52:41
*/
.login-wrapper {
  background-color: #ccc;
  height: 100vh;
  // margin: 12px 0;
  // padding-top: 80px;
  .ant-page-header {
    // text-align: center;
  }
  .login {
    // height: 200px;
    padding-bottom: 15px;
    margin-top: 25%;
    background-color: #fff;
  }
}
